name: vcpkg-ci-build
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      # immediately cancel all other jobs if one fails. Don't waste quotas, windows CI runs really long
      fail-fast: true

      # setup
      # test one platform at a time

      # NOTE: based off
      #       https://docs.github.com/en/billing/concepts/product-billing/github-actions#minute-multipliers
      #       The multiplier for MacOS is 10, very expensive. So the Mac CI is
      #       disabled here. Since I only have 2000 minutes per month.

      matrix:
        os: [ubuntu-latest, windows-latest]
        c_compiler: [gcc, cl, clang]
        include:
          - os: windows-latest
            vcpkgCommitId: '05442024c3fda64320bd25d2251cc9807b84fb6f'
            triplet: 'x64-windows'
            configPreset: 'vcpkg-win32'
            buildPreset:  'vcpkg-win32'
          - os: ubuntu-latest
            vcpkgCommitId: '05442024c3fda64320bd25d2251cc9807b84fb6f'
            triplet: 'x64-linux'
            configPreset: 'vcpkg'
            buildPreset:  'vcpkg-unix'
          - os: macos-latest
            triplet: 'arm64-osx'
            vcpkgCommitId: '05442024c3fda64320bd25d2251cc9807b84fb6f'
            configPreset: 'vcpkg'
            buildPreset:  'vcpkg-unix'
        exclude:
          - os: windows-latest
            c_compiler: gcc
          - os: windows-latest
            c_compiler: clang
          - os: ubuntu-latest
            c_compiler: cl
          - os: ubuntu-latest
            c_compiler: clang
          - os: macos-latest
            c_compiler:  'gcc'
          - os: macos-latest
            c_compiler:  'cl'

    steps:
      - name: Check out branch
        uses: actions/checkout@v4
        with:
          submodules: true
          lfs: true

      - name: Get CMake
        uses: lukka/get-cmake@v3.28.0

      - name: Linux Platform tools
        if: matrix.os == 'ubuntu-latest'
        # required packages on Linux for vcpkg install to succeed
        run: |
          sudo apt update;
          sudo apt install -y python3 curl zip unzip git
          sudo apt install -y g++ gcc pkg-config make
          sudo apt install -y libtool libltdl-dev ninja-build
          sudo apt install -y libxcb1-dev libx11-dev libxft-dev libxext-dev libxrandr-dev libxt-dev
          sudo apt install -y libwayland-dev libxkbcommon-dev libegl1-mesa-dev libibus-1.0-dev
          sudo apt install -y mesa-vulkan-drivers libvulkan1 vulkan-tools vulkan-validationlayers

      # installing lavapipe(mesa) on MacOS
      - name: Installing and register Mac Lavapipe driver
        if: matrix.os == 'macos-latest'
        run: |
          brew install mesa
          brew list mesa
          echo "VK_DRIVER_FILES=$(brew ls -v mesa | grep 'lvp_icd.aarch64.json')" >> $GITHUB_ENV
          echo "VK_ICD_FILENAMES=$(brew ls -v mesa | grep 'lvp_icd.aarch64.json')" >> $GITHUB_ENV

      - name: Installing Windows lavapipe driver
        if: matrix.os == 'windows-latest'
        uses: jakoch/install-vulkan-sdk-action@v1
        with:
          vulkan_version: 1.4.304.0
          install_runtime: true
          cache: true
          install_lavapipe: true
      - name: register Lavapipe driver on windows
        if: matrix.os == 'windows-latest'
        run: |
         reg add "HKLM\SOFTWARE\Khronos\Vulkan\Drivers" /v "C:\lavapipe\share\vulkan\icd.d\lvp_icd.x86_64.json" /t REG_DWORD /d 0 /f
         vulkaninfoSDK.exe --summary

      #run-cmake@10 cache currently does not work. We have to do this
      #manually, see https://github.com/lukka/run-cmake/issues/152
      - name: Cache vcpkg
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/vcpkg_cache
          # some additional file hash can be aded later: 'vcpkg_overlay/**',
          # 'CMakeLists.txt', '**/CMakeLists.txt', but now we just need vcpkg.json
          key: vcpkg-${{ matrix.vcpkgCommitId }}-${{ matrix.triplet }}-${{ hashFiles('vcpkg.json', 'CMakePresets.json') }}
          ## restore keys seemed to be needed for getting back the caches. See
          ## https://github.com/orgs/community/discussions/27059
          restore-keys: |
              vcpkg-${{ matrix.vcpkgCommitId }}-${{ matrix.triplet }}-${{ hashFiles('vcpkg.json', 'CMakePresets.json') }}
              vcpkg-${{ matrix.vcpkgCommitId }}-${{ matrix.triplet }}-

      - name: Setup a new (or from cache) vcpkg (and does not build any package)
        uses: lukka/run-vcpkg@v11 # Always specify the specific _version_ of the
                                  # action you need, `v11` in this case to stay up
                                  # to date with fixes on the v11 branch.
        with:
          vcpkgDirectory: '${{ github.workspace }}/vcpkg'
          vcpkgGitCommitId: '${{ matrix.vcpkgCommitId }}'
          # testing for vcpkg install. Don't need it normally
          runVcpkgInstall: true
          # The vcpkg.json file, which will be part of cache key computation.
          vcpkgJsonGlob: '**/vcpkg.json'
